* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --main-color: #06c;
  --deepblue-color: rgb(38, 70, 83);
  --deepgreen-color: rgb(42, 157, 143);
  --mustard-color: rgb(233, 196, 106);
  --laightorange-color: rgb(244, 162, 97);
  --deeporange-color: rgb(231, 111, 81);
  --transition: all 300ms ease-in-out;
  color: 264653;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  min-height: 100vh;
}

.wrapper {
  background-color: var(--deepgreen-color);
  /* color: white; */
  padding: 1.5rem 4rem 3rem 4rem;
  width: 600px;
  height: 680px;
  border-radius: 1.5rem;
  /* position: relative; */
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.titlequiz {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.triviaScore {
  text-align: center;
  background-color: white;
  font-weight: 600;
  font-size: 1.5rem;
  border: 5px solid lightgrey;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 100px;
  height: 35px;
  margin: 0.5rem auto;
  color: var(--deeporange-color);
}

.question {
  font-size: 700;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.category {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--deeporange-color);
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  display: inline-block;
}

.options {
  list-style-type: none;
  margin: 1rem 0;
}

.options li {
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.7rem 0;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border: 3px solid var(--deeporange-color);
  background-color: var(--deeporange-color);
  color: white;
  box-shadow: 0.4px 4px 0 var(--deeporange-color);
  transition: var(--transition);
}

.options li:hover {
  background-color: var(--laightorange-color);
  color: black;
  border-color: lightgrey;
  box-shadow: 0 4px 4px 0 black;
}

.options li:active {
  transform: scale(0.9);
}

.selected {
  background-color: lightgrey !important;
  color: black !important;
  border-color: lightgrey !important;
  box-shadow: 0 4px 4px 0 black !important;
}

#result {
  padding: 0.7rem 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}
#result i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin: 0.5rem 0.5rem;
  background-color: red;
  color: white;
}

.footbox button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  background-color: lightgrey;
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 4px 0;
}

.footbox button:hover {
  background-color: grey;
  box-shadow: 0 4px 4px 0;
}

.footbox button:active {
  transform: scale(0.92);
}

#playAgain {
  display: none;
}

@media (max-width: 678px) {
  .titlequiz {
    font-size: 1.6rem;
  }
  .wrapper {
    margin: 3rem 0;
    width: 90%;
    padding: 1.5rem 1rem 3rem 1rem;
    /* border-radius: 0; */
  }
  .footbox bottom {
    font-size: 1rem;
  }
}
